<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" >
    <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Enter Title"
          required
          minlength="3"
          name="title"
          [ngModel]="post?.title"
          #title="ngModel"/>
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button mat-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker>
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        placeholder="Enter Content"
        required
        name="content"
        [ngModel]="post?.content"
        #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Please enter a post content</mat-error>

    </mat-form-field>


    <button
      mat-raised-button
      color="primary"
      type="submit">Save Post</button>
  </form>
</mat-card>
