<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" >
    <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Enter Title"
          required
          minlength="3"
          name="title"
          [ngModel]="post.title"
          #title="ngModel"/>
          <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
        </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        placeholder="Enter Content"
        required
        name="content"
        [ngModel]="post.content"
        #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Please enter a post content</mat-error>

    </mat-form-field>


    <button
      mat-raised-button
      color="primary"
      type="submit">Save Post</button>
  </form>
</mat-card>
